*.DS_Store
private.key
.vscode

web/app/node_modules
.idea

dvoting*

*.log

nodedata/

deb-package/dist/**

.env

dela/
bin/
nodes/
cookies.txt


docker-compose/docker-compose.local.yml
scripts/run_docker_local.sh
scripts/local_browser_proxies.sh